src/*.exe
src/metacoin
src/metacoind
src/test_metacoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.metacoin

# Compilation and Qt preprocessor part
*.qm
Makefile
metacoin-qt
Metacoin-Qt.app

# Unit-tests
Makefile.test
metacoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
